
html {
  font-size: 18px;
  width: 960px;
background-color: lightblue;
font-family: Helvetica;
}

.company {
    background-color: black;
    color: white;
}

.company .container {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 0.5em;
}

.main-banner {
    background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25em;
}
user agent stylesheet
div {
    display: block;
  }

  .headline {
      background-color: black;
      color: white;
      width: 20em;
      padding: 2em 3em;
      position: relative;
      top: 9em;
  }
